:host{
    display: block;
    width: 100%;
    height: 100%;
    background: #F9F9F9;
}

.build-business{
    padding: 100px 0;
}

.card{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 0px 30px;
    border: 2px solid #4C7DF4;
    background: #FFF;
    box-shadow: 0px 2.532px 60.764px 0px rgba(0, 0, 0, 0.06);
    .desc-xs{
        flex: 1 1 100%;
    }
    a{
        color: #4C7DF4;
        text-decoration: none;
        cursor: pointer;
    }
}