<!-- src/app/footer/footer.component.html -->
<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <!-- Social Media Column -->
      <div class="col-md-2">
        <h5>Social Media</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Facebook</a></li>
          <li><a href="#" class="text-white">Twitter</a></li>
          <li><a href="#" class="text-white">Instagram</a></li>
          <li><a href="#" class="text-white">LinkedIn</a></li>
        </ul>
      </div>

      <!-- Services Column -->
      <div class="col-md-2">
        <h5>Services</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Consulting</a></li>
          <li><a href="#" class="text-white">Staffing</a></li>
          <li><a href="#" class="text-white">Cloud Services</a></li>
          <li><a href="#" class="text-white">Support</a></li>
        </ul>
      </div>

      <!-- About Column -->
      <div class="col-md-2">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Our Story</a></li>
          <li><a href="#" class="text-white">Careers</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </ul>
      </div>

      <!-- Resources Column -->
      <div class="col-md-2">
        <h5>Resources</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Blog</a></li>
          <li><a href="#" class="text-white">Case Studies</a></li>
          <li><a href="#" class="text-white">Whitepapers</a></li>
        </ul>
      </div>

      <!-- Areas of Experience Column -->
      <div class="col-md-2">
        <h5>Areas of Experience</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Finance</a></li>
          <li><a href="#" class="text-white">Healthcare</a></li>
          <li><a href="#" class="text-white">Information Technology</a></li>
          <li><a href="#" class="text-white">Retail</a></li>
          <li><a href="#" class="text-white">Logistics</a></li>
        </ul>
      </div>
    </div>

    <div class="text-center mt-4">
      <p>&copy; 2023 Your Company Name. All rights reserved.</p>
    </div>
  </div>
</footer>
