footer{
    background: #070C2E !important;
    padding: 50px 100px;
    ul{
        li{
            a{
                color: #FFF;
                leading-trim: both;
                text-edge: cap;
                font-family: "Open Sans";
                font-size: 12px;
                list-style-type: none;
                text-decoration: none;
                font-style: normal;
                font-weight: 400;
                line-height: 35px; /* 218.75% */
                text-transform: capitalize;
            }
        }
    }
}