<div class="d-flex align-items-start gap-5 about-us-sec container">
    <div class="content-block">
        <h1 class="heading-border position-relative heading-xs semibold mb-4">Expert Staffing & IT Services</h1>
        <p class="desc-sm mb-4">Welcome to ProMates Tech, your trusted partner for all your staffing and IT services need. We specialize in providing top-notch IT solution and staffing services tailored to meet your business requirements. With our experience, we ensure seamless integrations of technology into your business operations, maximising efficiency and productivity. Let’s embark on a journey of innovation and growth together</p>
        <button class="promates-btn">Hire Talent</button>
    </div>
    <div class="img-banner">
        <img src="assets/aboutus.png">
    </div>
</div>