
<div class="frequently-asked-que">
    <div class="container">
        <h1 class="heading-border position-relative heading-xs semibold center-border text-center mb-4">Frequently Asked Questions</h1>
        <p class="desc-sm mb-4 text-center">Click the icon beside each question to see the answers to our most frequently asked questions.</p>
        <div ngbAccordion #accordion="ngbAccordion">
            <div ngbAccordionItem="first">
                <div ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <div class="">What is IT consulting?</div>
                    </button>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <p>IT consulting involves providing expert advice and services to organizations to help them improve their IT systems and infrastructure. This includes strategic planning, system integration, and technology implementation.</p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="second">
                <div ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <div class="">How can IT consulting benefit my business?</div>
                    </button>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <p>IT consulting involves providing expert advice and services to organizations to help them improve their IT systems and infrastructure. This includes strategic planning, system integration, and technology implementation.</p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="third">
                <div ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <div class="">How do I choose the right IT consulting firm?</div>
                    </button>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <p>IT consulting involves providing expert advice and services to organizations to help them improve their IT systems and infrastructure. This includes strategic planning, system integration, and technology implementation.</p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="fourth">
                <div ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <div class="">What skills are in demand in the IT industry?</div>
                    </button>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <p>IT consulting involves providing expert advice and services to organizations to help them improve their IT systems and infrastructure. This includes strategic planning, system integration, and technology implementation.</p>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem="five">
                <div ngbAccordionHeader>
                    <button ngbAccordionButton>
                        <div class="">How important are certifications in the IT job market?</div>
                    </button>
                </div>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            <p>IT consulting involves providing expert advice and services to organizations to help them improve their IT systems and infrastructure. This includes strategic planning, system integration, and technology implementation.</p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>