
.content-block-titles{
    padding: 100px 0;
    background: #F9F9F9;
}

.banner-about-us{
    h1{
        position: absolute;
        top: auto;
        color: #FFF;
        font-size: 30px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
    }
}
.about-us-sec{
    padding: 100px 0;
    &:nth-child(even){
        background: #F9F9F9;
    }
    .content-block{
        width: 50%;
    }
    .img-banner{
        width: 50%;
    }
}
