<div class="d-flex align-items-center gap-5 about-us-sec container">
    <div class="content-block">
        <h1 class="heading-border position-relative heading-xs semibold mb-4">Ready to Transform your Business</h1>
        <p class="desc-sm mb-4">Embark on a journey of innovation and growth with ProMates Tech. Whether you need cutting -edge IT Solutions ot top-notch staffing services, we are here to support your business every step of the wa. Get in touch with us today for free evaluation and take first step to unlock the business full potential</p>
        <button class="promates-btn">Hire Talent</button>
    </div>
    <div class="img-banner">
        <img src="assets/transfrom-business.png">
    </div>
</div>

<div class="d-flex align-items-center gap-5 about-us-sec container">
    <div class="img-banner">
        <img src="assets/ready-to-take-business.png">
    </div>
    <div class="content-block">
        <h1 class="heading-border position-relative heading-xs semibold mb-4">Ready to Transform your Business</h1>
        <p class="desc-sm mb-4">Embark on a journey of innovation and growth with ProMates Tech. Whether you need cutting -edge IT Solutions ot top-notch staffing services, we are here to support your business every step of the wa. Get in touch with us today for free evaluation and take first step to unlock the business full potential</p>
        <button class="promates-btn">Hire Talent</button>
    </div>
</div>

<div class="ready-transfer-banner">
    <div class="ready-banner">
        <div class="content-block">
            <h1 class="text-md">Ready to transform your business</h1>
            <p class="desc-sm">Embark on journey of innovation and growth with ProMates Tech. </p>
        </div>
        <button class="btn-evalution">Get Free Evaluation</button>
    </div>
</div>