<!-- <ng-container *ngFor="let item of menuItems">
    <div class="" ngbDropdown container="body" *ngIf="item?.subnav && item?.subnav.length > 0">
        <button ngbDropdownToggle>{{ item.name }}</button>
        <ul ngbDropdownMenu>
            <li *ngFor="let subItem of item.subnav">
                <h1>{{subItem.name}}</h1>
                <ul *ngFor="let child of subItem.subchildren">
                    <li ngbDropdownItem (click)="navigateToChild(child.path)">{{ child.name }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <a ngbDropdownItem (click)="navigateToChild(item.path)">{{ item.name }}</a>
</ng-container> -->



<div class="d-flex align-items-center gap-3">
    <ng-container *ngFor="let item of menuItems">
        <ng-template [ngTemplateOutlet]="dropdownTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
    </ng-container>
</div>



<ng-template #dropdownTemplate let-item="item">
    <div ngbDropdown container="body" *ngIf="item?.subnav && item?.subnav.length > 0">
        <button ngbDropdownToggle>{{ item.name }}</button>
        <ul ngbDropdownMenu>
            <li *ngFor="let subItem of item.subnav">
                <h1>{{subItem.name}}</h1>
                <ul *ngFor="let child of subItem.subchildren">
                    <li ngbDropdownItem (click)="navigateToChild(child.path)">{{ child.name }}</li>
                </ul>
            </li>
        </ul>
    </div>
    <a ngbDropdownItem (click)="navigateToChild(item.path)">{{ item.name }}</a>
</ng-template>
